@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Rubik', sans-serif;
}


.navbar ul li:hover{
    border:2px solid rgb(117, 117, 133);
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.animation{
    animation: rotate 3s ease-in-out  infinite alternate-reverse both;
}
.getstarted:hover{
    color:blue;
    background-color: white;
}